/* Sample of base css */
html {
    margin: 50px;
    scroll-behavior: smooth;
}

html[theme="light"] {
    --link-color: rgb(0, 112, 201);
  	--main-background-color: hsl(0, 0%, 90%);
	--main-text-color: hsl(0, 0%, 20%);
}

html[theme="dark"] {
    --link-color:  #2BE022;
  	--main-background-color: hsl(217.5, 42.1%, 7.5%);
  	--main-text-color: hsl(0, 0%, 85%); 
}

/* The body css is attached to the variables set by the theme, this is automatically updated when the JS sets the html theme */
body {
	background-color: var(--main-background-color);
	color: var(--main-text-color);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
	color: var(--link-color);
}