<!-- This is the home page of the whole web application, this is what the user will first see-->
<!DOCTYPE html> 
<html lang="en"> <!-- This is the language of the web application, it is set to English-->
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- This makes the website responsive-->
    
    <!-- CSS Imports; This is where all the CSS files are imported from-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/w3schools.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    
    <!--Darkmode CSS Imports; These are the stylesheets needed to enable darkmode on the website-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/main.css">

    <!-- Font Imports; to import the fonts used in the web page-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
    h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
    body {font-family: "Open Sans"}
    </style>
    <title>Text Summarisation Web Application using A.I & NLP</title> <!--This is the title of the web page-->
  </head>

<body>

<!-- Navbar (sit on top)  This is the navigation bar that is used on the website -->
<div class="w3-top navbar">
  <div class="w3-bar w3-padding w3-border w3-round-xxlarge" style=letter-spacing:4px;">
  <!--This is the menu button that is used to toggle the navigation menu on smaller screens-->
  <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right w3-round" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <!--This is the switch that is used to toggle darkmode on and off-->
    <div class="w3-bar-item w3-padding-large w3-round custom-control custom-switch">
      <input type="checkbox" class="w3-bar-item custom-control-input" id="darkModeSwitch">
      <label class="custom-control-label w3-center w3-text-grey" for="darkModeSwitch"><b>Dark Mode</b></label>
    </div>
    <!-- These are the top navigation menu titles and links--> 
    <a href="{{url_for('index')}}" class="w3-bar-item w3-padding w3-button w3-round-large w3-hover-grey" style="text-decoration: none;"> Development Project - P2508298</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-mobile w3-hide-small">
      <a href="{{url_for('index')}}" class="w3-bar-item w3-round-large w3-button w3-leftbar w3-border-blue w3-hover-grey" style="text-decoration: none;">Home</a>
      <a href="{{url_for('compare_summary')}}" class="w3-bar-item w3-round w3-button w3-hover-grey" style="text-decoration: none;">Other Summarisers</a>
      <a href="{{url_for('about')}}" class="w3-bar-item w3-round w3-button w3-hover-grey" style="text-decoration: none;">About</a>
    </div>
  </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-right w3-animate-top w3-bar-block w3-border-white w3-round-xlarge w3-light-grey w3-hide w3-hide-large w3-hide-medium w3-top" style="background-color:rgba(0, 85, 119, 0.842);">
  <a href="{{url_for('index')}}" class="w3-round w3-bar-item w3-button w3-leftbar w3-border-blue w3-padding-large" onclick="myFunction()" style="text-decoration: none;">Home</a>
  <a href="{{url_for('compare_summary')}}" class="w3-round w3-bar-item w3-button w3-padding-large" onclick="myFunction()" style="text-decoration: none;">Other Summarisers</a>
  <a href="{{url_for('about')}}" class="w3-round w3-bar-item w3-button w3-padding-large" onclick="myFunction()" style="text-decoration: none;">About</a>
</div>
    
  <!-- w3-content defines a container for fixed size centered content, 
  and is wrapped around the whole page content, except for the footer in this case -->
  <div class="w3-content" style="max-width:1600px">

    <!-- Header -->
    <header class="w3-container w3-center w3-padding-48">
      <h1 class="w3-xxxlarge"><b>Text Summarisation with A.I & NLP</b></h1>
      <h6 class="w3-padding">With summarisation techniques using <span class="w3-tag w3-padding"> spaCy, Gensim, NLTK & Sumy NLP libraries</span></h6>
    </header>
  </div>

  <!-- Start of the Main Section -->
  <div class="w3-container w3-center">
      <div class="section">
        
        <!-- This is the section for adding your own text-->
        <div class="row">
          <div class="input-field col s12 m10 w3-center"> <!--This is where the user enters their text input-->
            <div class="icon-block">
              <h2 class="center"> <span class="w3-margin-top w3-xxxlarge material-symbols-outlined"> edit_note </span> </i></h2> <!--This is the icon that is used to represent the form-->
                <form method="POST" action="/analyse"> <!--This is the form that is used to add the text to be analysed-->
                  <textarea name="rawtext" cols="3" rows="5" class="form-control" required="true" placeholder="Enter Text Here"></textarea> 
                  <br/>
                  <button class="btn btn-small waves-effect waves-light red lighten-1" type="reset">Clear</button> <!--This is the button that is used to clear the text input-->
                  <button class="btn btn-small waves-effect waves-light light-blue lighten-1" type="submit">Summarise</button> <!--This is the button that is used to summarise the text input-->
                </form>
            </div>
          </div>
        </div>
        
        <!-- This is the section for entering a URL to be analysed for summarisation-->
        <div class="row">
          <div class="input-field col s12 m10 w3-center"> <!--This is where the user enters their URL input-->
            <div class="icon-block">
              <h2 class="center"><i class="material-icons"> <span class="w3-margin-top w3-xxxlarge material-symbols-outlined"> link </span> </i></h2> <!--This is the icon that is used to represent the form-->
              <form method="POST" action="/analyse_url"> <!--This is the form that is used to add the URL to be analysed-->
                <input type="text" class="w3-white" name="raw_url" placeholder="Enter URL Here" required="true">
                <button class="btn btn-small waves-effect waves-light red lighten-1" type="reset">Clear</button> <!--This is the button that is used to clear the URL input-->
                <button class="btn btn-small waves-effect waves-light light-blue lighten-1" type="submit">Summarise</button> <!--This is the button that is used to summarise the URL input-->
              </form>
            </div>
          </div>
        </div>

      </div>
  </div>
    <!-- End -->

    <!-- This section displays the analysed text in its original and summarised forms--> 
  <section class="section section-solutions-about grey darken-2 w3-center">
    <div class="w3-container white-text">
  
      <!-- This is the section for the original text-->
        <div class="row w3-border grey darken-3 w3-round-large">
          <div class="col s12 m6">
            <div class="icon-block w3-round-large">
              <h2 class="center"><i <span class="w3-margin-top w3-xxxlarge material-symbols-outlined"> edit_note </span> </i></h2> <!--This is the icon that is used to represent the form-->
              <h5 class="w3-xlarge center">Your Text</h5>
              <p>Reading Time: <span style="color:#0091EA;">{{ final_reading_time }} min </span></p> <!-- This returns the average reading time of the original text -->
              <p class="light">{{ctext}}</p> <!-- This returns the original text -->
              <div class="w3-border-dark-grey grey darken-3 alert alert-info white-text" role="alert"><p>Time Elapsed: <span style="color:#0090ea8e;"> {{ final_time }} mins </span></p><br/> <!-- This returns the time taken to summarise the original text -->
              </div>
            </div>
          </div>

          <!-- This is the section for the summarised text-->
          <div class="col s12 m6 grey darken-4 w3-round-large">
            <div class="icon-block w3-round-large">
              <h2 class="center"> <i <span class="w3-margin-top w3-xxxlarge material-symbols-outlined"> description </span></i> </h2> <!--This is the icon that is used to represent the form-->
              <h5 class="w3-xlarge center">Your Text Summarised</h5>
              <div class="" role="alert"> 
                <p>Reading Time: <span style="color:#0091EA;">{{ summary_reading_time }} min </span></p> <!-- This returns the average reading time of the summarised text -->
              </div>
              <p class="light">{{ final_summary }}</p> <!-- This returns the summarised text -->
            </div>
          </div>
        </div>

    </div>
  </section>



        

  <!-- Footer of the website -->
  <footer class="w3-container w3-center" style="padding:32px">
    <a href="#" class="w3-button  w3-black w3-padding-large w3-margin-bottom w3-round-large"><i class="fa fa-arrow-up w3-margin-right"></i>Back to the top</a> <!--This is the button that is used to scroll to the top of the page-->
      <div class="w3-container" id="aboutapp">
          <div class="col l3 s12">
            <h5 class="w3-padding">Connect With Me</h5> 
            <ul>
            <a href="https://www.linkedin.com/in/edwin-gigi/" target="_blank" class="w3-padding"> <i class="fa fa-linkedin fa-4x"></i> </a> <!--This is the link to my LinkedIn profile-->
            <a href="https://github.com/EdwinGigi" target="_blank" class="w3-padding"> <i class="fa fa-github-square fa-4x"></i> </a>  <!--This is the link to my GitHub profile-->
            </ul>
          </div>
      </div>
      <div class="footer-copyright">
        <div class="w3-container">
        Made by <a class="text-lighten-3">Edwin Gigi - P2508298 - De Montfort University</a><br/> 
        <a> Copyright © 2022</a>
        <br> 
        <p>Powered by: <br> <!-- Links to the Websites I used for CSS and JS of the website-->
          <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">W3Schools -</a>
          <a href="https://materializecss.com/" target="_blank">Materialize -</a>
          <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
      
        </p> 
        </div>
      </div>
    </footer>

  
  <!-- Site Functionality Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  <script>

  // Used to toggle the menu on small screens when clicking on the menu button
  function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else { 
      x.className = x.className.replace(" w3-show", "");
    }
  }
  </script>

  <!--Darkmode JavaScripts-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/static/js/main.js"></script>


</body>
</html>



<!--Edwin Gigi-->